<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Codes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<div class="container">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/chart_page">Workout Chart</a>
    </div>

    <h1>QR Codes for Users</h1>
    <ul>
        {% for user in users %}
        <li>
            <strong>{{ user[1] }}</strong>
            <br>
            <img src="{{ url_for('serve_qr', filename=user[1] + '_qr.png') }}" alt="QR code for {{ user[1] }}">
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
